[Desktop Entry]
Type=Application
Name=Nougat Media Suite
Comment=Nougat Media Suite Home, native player, library, Discover AI, Live TV guide, decentralized Search, Stream, Workshop, Games, security, and System controls
Exec=/opt/nougat-media-suite/Nougat_Media_Suite_v50
Icon=nougat-media-suite-concept-sheet-v24
StartupWMClass=NougatMediaSuite
X-GNOME-Application-ID=com.elderredsoftworks.NougatMediaSuite
Terminal=false
Categories=AudioVideo;Player;
StartupNotify=true
X-GNOME-WMClass=NougatMediaSuite
