[Desktop Entry]
Type=Application
Name=ReddMedia_v9
Comment=ReddMedia video player
Exec=/home/dereksparks1982/DKLab/Projects/ReddMedia/ReddMedia_v9
Icon=reddmedia
StartupWMClass=ReddMedia
Terminal=false
Categories=AudioVideo;Player;
