[Desktop Entry]
Type=Application
Name=ReddMedia
Comment=ReddMedia video player
Exec=./ReddMedia
Icon=reddmedia
StartupWMClass=ReddMedia
Terminal=false
Categories=AudioVideo;Player;
