[Desktop Entry]
Type=Application
Name=Trump Savings Tycoon
Comment=Offline preserved arcade game
Exec=Trump_Savings_Tycoon
Terminal=false
Categories=Game;ArcadeGame;
